body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;
  height: 0.5rem;
  grid-area: green;
}

#orange {
  background-color: #ffc788;
  height: 0.5rem;
  grid-area: orange;
}

#yellow {
  background-color: #ffff92;
  grid-area: yellow;
}

#red {
  background-color: #ff919c;
  grid-area: red;
}

#blue {
  background-color: #98d2ff;
  grid-area: blue;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
